.container-imagechagne{
  border: 2px solid black;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 1000px;
  height: 400px;
  
}


nav .Choice{
  display: grid;
  grid-template-columns: repeat(2,230px);
  /* border: 2px solid black; */
}

nav .display{
  width: 600px;
  height: 300px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}


nav .Choice .choice-click{
  border: 2px solid black;
  width: 200px;
}
nav .Choice .choice-click img{
  /* border: 2px solid black; */
  width: 100%;
}

.Image-display{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.Image-display img{
  width: 100%;
  border: 2px solid black;
}