.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Container .Box {
    display: flex;
    flex-direction: row;
    align-items: center;


}

.Container .First .box {
    width: 400px;
    height: 300px;
}

.Container .Box .box {
    margin: 2rem;
    border: 2px solid black;
    text-align: center;
    border-radius: 10%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.Container .Box .box:hover {
    transform: scale(1.2);
    
}

.content {
    background-color: black;
    color: aliceblue;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container .Box .box .img {
    width: 100%;
}

.Container .Box .box .img img {
    width: 100%;
}

.Container .Two {
    display: flex;
    flex-direction: row;
}