.table-container {
    margin: 0 auto;
    /* Center the table horizontally */
    width: 80%;
    /* Adjust the width as needed */
    background-color: rgb(232, 28, 141);
    /* color: blue; */
}

/* Optional: Add styles for the table headers, cells, etc. */
.HeaderRow {
    background-color: #f2f2f2;
}

.Cell {
    border: 1px solid #ddd;
    padding: 8px;
}